* {
    margin: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: white;
    background-image: url(../assets/images/seinfeld\ apartment.jpeg);

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    color: red;
    margin: 10px;
    border-radius: 6px;
    padding: 0px;
}

.title {
    background-color: yellow;
    padding: 1rem;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title>h1 {
    font-size: 42px;
}

.title>h2 {
    font-size: 24px;
}

.description {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    border-radius: 6px;
}

.description>p {
    color: black;
}

.scoreboard {
    background-color: yellow;
    padding: 1rem;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 700;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.cards--container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-position: cover;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
    background-color: rgba(220, 220, 220, 0.537);
}

.card--image {
    height: 180px;
    width: 180px;
    background-color: white;
    border: 1px solid black;
    background-position: center;
    border-radius: 6px;
    cursor: pointer;
}

.card--text-background {
    background-color: yellow;
    color: red;
    font-size: 18px;
    font-weight: 600;
    padding: 16px;
    border-radius: 20px;
    max-width: fit-content;
    margin-top: 8px;
}

#card0 {
    background-image: url(../assets/images/jerry.png);
}

#card1 {
    background-image: url(../assets/images/george.png);
}

#card2 {
    background-image: url(../assets/images/elaine.png);
}

#card3 {
    background-image: url(../assets/images/kramer.png);
}

#card4 {
    background-image: url(../assets/images/newman.png);
}

#card5 {
    background-image: url(../assets/images/susan.png);
}

#card6 {
    background-image: url(../assets/images/puddy.png);
}

#card7 {
    background-image: url(../assets/images/frank.png);
}

#card8 {
    background-image: url(../assets/images/estelle.png);
}

#card9 {
    background-image: url(../assets/images/peterman.png);
}

#card10 {
    background-image: url(../assets/images/uncleleo.png);
}

#card11 {
    background-image: url(../assets/images/soupnazi.png);
}

#card12 {
    background-image: url(../assets/images/morty.png);
}

#card13 {
    background-image: url(../assets/images/helen.png);
}

#card14 {
    background-image: url(../assets/images/bania.png);
}

#card15 {
    background-image: url(../assets/images/steinbrenner.png);
}

#card16 {
    background-image: url(../assets/images/uncleleo.png);
}